@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Source+Sans+Pro:wght@300&display=swap');
@import url(../fontawesome-free-6.0.0-beta3-web/css/all.css);
body {
    @include standard-setup ();  
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox {
    width: 80vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed salmon;
    // Container Left side. Social media anchors.
    .container {
        @include containers ();
        margin-left: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .box1, .box2, .box3 {
            @include social-media ();
        }
        a {
            color: whitesmoke;
            font-size: 25px;
        }
        .box1 {
            background-color: rgba(34, 85, 180, 0.822)
        }
        .box2 {
            background-color: rgba(255, 0, 0, 0.726);
        }
        .box3 {
            background-color: lightskyblue;
        }
    }
    // Container Right side. User information to login.
    .container2 {
        @include containers ();
        margin-rihgt: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        .user-input {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .user-name {
                @include user-information ();
                .textbox {
                    border: none;
                }
            }
            .user-password {
                @include user-information ();
                .textbox {
                    border: none;
                }
            }
            
        }
        img {
            @include user-icons ();
        }
    }
}
